* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: black;
	font-family: "microsoft yahei";
}

span {
	font-size: 12px;
}

.iconfont {
	font-size: 12px !important;
}

.nabi {
	width: 100%;
	height: 35px;
	background-color: #f5f5f5;
	min-width: 1280px;
}

.nabi_container {
	width: 1190px;
	height: 35px;
	margin: 0 auto;
}

.nabi a {
	color: #6c6c6c;
}

.nabi a:hover {
	color: #FF4400;
}

.nabi_left {
	display: inline-block;
}

.nabi_left ul li {
	position: relative;
	float: left;
}

.nav_ul {
	font-size: 12px;
	font-family: arial;
}

.nav_ul li div {
	padding: 0 6px;
}

.nav_ul li span {
	line-height: 35px;
}

.nabi_user .navi_logoin {
	color: #f22e00;
}

.nabi_right {
	display: inline-block;
	float: right;
}

.nabi_right ul li {
	position: relative;
	float: left;
	padding: 0 5px;
}

.incon_orenge {
	color: #f40;
}

.nav_list_menu {
	display: none;
	position: absolute;
	padding: 8px 0 !important;
	left: 0;
	top: 35px;
	border: 1px solid #EEEEEE;
	background: #FFFFFF;
	z-index: 99999;
}

.nav_list_menu .innerA {
	display: block;
	padding: 0 5px;
	line-height: 28px;
	white-space: nowrap;
	color: #6C6C6C;
}

.nav_list_menu ul {
	max-height: 270px;
	overflow-y: scroll;
}

.nav_list_menu ul li {
	display: block;
	padding-left: 8px;
	line-height: 29px;
	width: 235px;
	height: 29px;
	cursor: pointer;
	line-height: 28px;
	color: #333333;
}

.nav_list_menu a:hover {
	background: #F5F5F5;
	color: #6C6C6C !important;
}

.nabi_left .nav_ul .user {
	height: 35px;
	line-height: 35px;
	padding: 0 6px;
	position: relative;
}

.userName {
	max-width: 98px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
}

.userLv {
	display: inline-block;
	width: 18px;
	height: 12px;
	background-image: url(../Images/car/userLv.png);
	background-repeat: no-repeat;
	background-size: 17px auto;
	float: left;
	margin-left: 6px;
	margin-top: 10px;
	margin-right: 10px;
}

.user:hover {
	background: #FFFFFF;
}

.userContent {
	position: absolute;
	width: 248px;
	left: 0;
	top: 35px;
	border: 1px solid #EEEEEE;
	background-color: #FFFFFF;
	padding: 8px;
	display: none;
}

.userWraper {
	width: 62px;
	height: 62px;
	float: left;
	padding: 9px !important;
	margin: 0 10px 0 9px;
}

.userImg {
	display: block;
	border: 3px solid #FFFFFF;
	border-radius: 50%;
	overflow: hidden;
}

.userImg img {
	width: 56px;
	height: 56px;
	display: block;
}

.userInfo p {
	font-size: 12px;
	color: #333333;
}

.userMana {
	line-height: 20px;
	height: 20px;
	text-align: right;
}

.userTqz {
	margin-top: 5px;
	height: 20px;
	line-height: 20px;
}

.vipType {
	height: 20px;
	line-height: 20px;
}

.MoreKenri {
	margin-top: 10px;
	line-height: 15px;
	display: block;
	text-align: center;
	border: 1px solid #FFE8DE;
	background: #FFF0E8;
	padding: 4px 0;
}

.msg {
	height: 35px;
	line-height: 35px;
	position: relative;
}

.msgFont {
	margin-right: 10px;
	color: #6c6c6c;
}

.msgBox {
	width: 288px;
	border: 1px solid #EEEEEE;
	position: absolute;
	background: #FFFFFF;
	border-top: none;
	box-shadow: 1px 1px 2px #DDDDDD;
}

.msgBoxTitle {
	height: 37px;
	line-height: 37px;
	border-bottom: 1px solid #EEEEEE;
}

.msgBoxTitle h2 {
	text-align: center;
	font-size: 14px;
	color: #222;
}

.msgBoxContent {
	padding: 0 35px;
}

.yin {
	height: 14px;
	width: 23px;
}

.msgStatu {
	text-align: center;
	margin: 30px 0 10px 0;
}

.msgStatu span {
	font-size: 14px;
}

.noMsgPic {
	width: 218px;
	height: 140px;
	margin: 0 auto;
	background-image: url(../Images/car/nomsgPic.png);
	background-repeat: no-repeat;
	background-position: center;
}

.maeMsg {
	width: 148px;
	height: 33px;
	display: block;
	text-align: center;
	line-height: 33px;
	background: #FFF0E8;
	border: 1px solid #FFE8DE;
	margin: 0 auto 8px;
}

.shopingCarHead {
	width: 100%;
	min-width: 1190px;
}

.HeadContainer {
	width: 1190px;
	margin: 0 auto;
}

.headContent {
	padding: 20px 0 40px;
	height: 35px;
	position: relative;
}

.headLeft {
	position: absolute;
	display: block;
	width: 181px;
	height: 45px;
	overflow: hidden;
	background-image: url(../Images/car/car_800_600.png);
	background-repeat: no-repeat;
	background-position: -110px 0;
	background-color: #FFFFFF;
}

.carSearch {
	float: right;
}

.serchSelectContainer {
	position: relative;
}

.s_selectContent {
	position: absolute;
	width: 74px;
	height: 29px;
	top: 3px;
	left: 3px;
	border-right: 1px solid #E5E5E5;
	border-left: 1px solid #F5F5F5;
	overflow: hidden;
	z-index: 10;
}

.s_selectContent li {
	width: 100%;
	height: 100%;
	display: none;
}

.s_selectContent li.serch_active {
	display: block;
}

.select_itme {
	display: block;
	font-size: 12px;
	background: #F5F5F5;
	color: #6B6B6B;
	font-weight: 400;
	padding: 0;
	height: 100%;
	width: 100%;
	line-height: 29px;
	text-indent: 15px;
	text-align: left;
}

.sc_arrow {
	position: absolute;
	display: block;
	width: 8px;
	height: 8px;
	font-size: 8px !important;
	color: #333;
	top: 12px;
	left: 54px;
	z-index: 99;
}

.serchInputContainer {
	width: 515px;
	position: relative;
}

.boton {
	float: right;
	height: 35px;
	width: 93px;
	background-image: url(../Images/car/car400-300.png);
	background-repeat: no-repeat;
	background-position: 0 -204px;
	z-index: 10;
}

.sc_input {
	height: 35px;
	position: relative;
	background-color: #FF5000;
	z-index: -1;
}

.sc_inputContent {
	margin-left: 79px;
	margin-right: 0;
}

.sc_inputContent input {
	position: absolute;
	height: 29px;
	line-height: 18px;
	outline: 0;
	border: none;
	width: 100%;
	margin-top: 3px;
	text-indent: 10px;
}

.CarContent {
	width: 1190px;
	margin: 0 auto;
}

.filter {
	position: relative;
	overflow: hidden;
}

.cartSwitch {
	height: 33px;
}

.cartSwitchBtn {
	float: left;
	font-weight: 700;
	font-size: 16px;
	height: 16px;
	line-height: 1.1;
	text-align: center;
	padding: 0 0 15px 0;
	cursor: pointer;
	padding-left: 15px;
}

em {
	color: #f40;
	font-style: normal;
}

.pipe {
	width: 1px;
	height: 12px;
	display: inline-block;
	background: #e8e8e8;
}

.number {
	margin: 0 30px 0 5px;
	color: #f40;
	font-size: 14px;
	margin: 0 30px 0 5px;
	font-weight: 400;
}

.cart-sum {
	position: absolute;
	right: 0;
	top: 0;
	height: 25px;
	line-height: 25px;
}

strong {
	font-family: Arial, Verdana;
	font-weight: 700;
	margin-right: 5px;
	color: #f40;
}

.pay {
	background: #aaa;
	color: #fff;
	cursor: not-allowed;
	display: inline-block;
	width: 55px;
	border-radius: 2px;
	text-align: center;
	line-height: 25px;
	font-size: 12px;
}
.cartLine{
	clear: both;
	background-color: #e6e6e6;
	height: 2px;
	position: relative;
}
.cartInnerLine{
	width: 132px;
	left: -1px;
	background-color:#FF4400;
	height: 2px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.checkbox{
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	color: #3C3C3C;
}
.selectAll{
	height: 100%;
	line-height: 50px;
	position: relative;
	
}
.cbox{
	top: 20px;
	left: 15px;
	position: absolute;
    z-index: 1;
    float: left;
    width: 15px;
    height: 15px;
    background-position: 0 0;
    line-height: 200em;
    overflow: hidden;
    cursor: pointer;
    background:  url(../Images/car/car_800_600.png) no-repeat;
}
.tl{
	float: left;
	height: 100%;
	line-height: 50px;
	margin-right: 50px;
	width: 100px;
}
.sAllSpan{
	margin-left: 40px;
}
.itemSpcae{
	width: 300px;
}
.order{
	margin-bottom: 15px;
}
.itemHead{
	height: 38px;
	background: #FFFFFF;
}
.shopinfo{
	position: relative;
	line-height: 38px;
	padding-left: 15px;
}
.shoplv{
	    display: inline-block;
    vertical-align: middle;
    margin: 0px 6px 0 30px;
       width: 16px;
    height: 16px;
    background-position: -20px -105px;
    background-image: url(../Images/car/car_800_600.png);
}
.cboxre{
	top: 15px;
}
.wwchat{
	vertical-align: baseline;
	display: inline-block;
	margin-left: 15px;
	background-position: -80px 0;
	width: 20px;
    height: 20px;
    background-image: url(../Images/car/ww.gif);
}
.yhj{
	display: inline-block;
	width: 57px;
    height: 25px;
    line-height: 25px;
    padding: 0 0 0 11px;
    color: #f40;
    background-position: -20px -75px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    background-image: url(../Images/car/car_800_600.png);
}
.itemContent{
	    border: 1px solid #ccc;
}
.itemhd{
	height: 28px;
    padding-top: 9px;
    border-bottom: 1px solid #e8e8e8;
}
.spce{
	width: 45px;
	height: 24px;
	float: left;
}
.by{
	height: 22px;
	line-height: 22px;
	float: left;
	color: #6C6C6C;
	margin-right: 15px;
    padding: 0 8px;
    background: #e7e7e7;
}
.service span{
	color: #6C6C6C;
}
.itemMain{
	position: relative;
	background: #fcfcfc;
    border-bottom: 1px solid #e7e7e7;
}
.itemLi{
	float: left;
	min-height: 119px;
}
.s{
	width: 302px;
}
.kb{
	width: 45px;
}
.itemcbx{
	position: relative;
}
.cboxre{
	top: 20px;
}
.itemIner{
	padding-top:20px;
}
.itemImg{
	width: 80px;
	height: 80px;
	border: 1px solid #EEEEEE;
	float: left;
}
.item_img{
	float: left;
	overflow: hidden;
	display: block;
}
.item_img img{
	width: 100%;
	height: 100%;
}
.item_info{
	margin: -3px 0 0 91px;;
}
.baseinfo{
	min-height: 40px;
}
.baseinfo a{
	font-size: 12px;
	display: block;
	max-height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sabisu{
	margin-top: 25px;
}
.kurijitto{
	vertical-align: 3px;
	margin-right: 5px;
    margin-bottom: 5px;
}
.sevenday{
	margin-right: 5px;
    margin-bottom: 5px;
}
.bz{
	margin-right: 5px;
    margin-bottom: 5px;
}
.space{
	width: 280px;
    padding-right: 20px;
}
.c_price{
	padding-top:15px ;
}
.c_priveConten{
	padding: 8px 0 0 0;
	line-height: 1;
	width: 74px;
}
.ita{
	padding-bottom: 4px;
	color: #9c9c9c;
    text-decoration: line-through;
    font-size: 12px;
}
.sb{
	color: #3c3c3c;
    font-weight: 700;
    font-family: Verdana,Tahoma,arial;
    font-size: 12px;
}
.counter{
	height: 25px;
	overflow: hidden;
	position: relative;
	width: 77px;
	margin-left: 60px;
	margin-top: 5px;
}
.counterDe{
	color: #e5e5e5;
	display: block;
    height: 23px;
    width: 17px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    text-align: center;
    line-height: 23px;
    color: #444;
    position: absolute;
}
.jian{
	top: 0;
	left: 0;
}
.plus{
	top: 0;
	left: 59px;
}
.counterDe.no{
	color: #e5e5e5;
}
.counterInput{
	width: 39px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #aaa;
    color: #343434;
    text-align: center;
    padding: 4px 0;
    background-color: #fff;
    background-position: -75px -375px;
    position: absolute;
    left: 18px;
    top: 0;
}
.kiboukagaku{
	margin-left: 90px;
	margin-top: 5px;
}
.sosa{
	margin-left: 90px;
}
.sosa a{
	display: block;
	font-size: 12px;
	color: #3C3C3C;
	padding-bottom: 3px;
	
}
.en{
	font-size: 12px;
	float: left;
	margin: 3px 5px 0 0;
}
.note{
	padding-top: 15px;
	margin-left: 20px;
	padding-left: 20px;
}
.note p{
	color: #9c9c9c;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}




.foot{
	width: 100%;
}
.footContainer{
	margin: 0 auto;
	min-width: 1280px ;
}
.footwrap1
{
	
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	background-color: #fafbfc;
	border-top: 2px solid #f40;
	
}
.footwrap1 ul{
	width: 990px;
	height: 90px;
	margin: 0 auto;
	border: 1px solid #E5E5E5;
	border-bottom: 0 none;
	border-top: 0 none;
	list-style: none;
}
.footwrap1 ul li {
	float: left;
	width: 289px;
	height: 60px;
	padding: 15px 0 15px 40px;
	text-align: center;
	border-left:1px solid #E5E5E5 ;
}
.footwrap1 ul li:first-child {
	border-left: 0 none;
}
.promiseIcon{
	color: #F40;
	font-size: 45px !important;
	float: left;
	line-height: 45px;
	margin-right: 10px;
}
.promise span:first-child{
	display: block;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 5px;
}
.promise span:last-child{
	display: inline-block;
	width: 200px;
	color: #888;
	font-size: 12px;
	line-height: 1.5;
}
.footwrap2{
	width: 990px;
	margin: 0 auto;
	padding-top: 20px;
	border-bottom: 1px solid #E5E5E5;
}
.smallLogo{
	float: left;
	width: 95px;
	height: 40px;
	color: #FF4400;
	margin-right: 65px;
}
.footDl{
	float: left;
	width: 140px;
	margin-right:70px;
}
.footDl dt{
	font-weight: 800;
	font-size: 14px;
	width: 120px;
	margin-bottom: 5px;
}
.footDl  dd{
	display: inline-block;
	margin-left: 0;
	margin-right: 20px;
	margin-bottom: 5px;
	float: left;
}
.footDl dt{
	text-align: center;
}
.footDl dd a{
	font-size: 12px;
	line-height: 1.5;
	color: #888;
}
.footCode img{
	width: 60px;
	height: 60px;
}
.footwrap3{
	width: 990px;
	height: 90px;
	padding-top: 15px;
	color: #888888;
	margin: 0 auto;
	border-bottom: 1px solid #E5E5E5;
}
.worldFooter{
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
}
.worldFooter span{
	float: left;
	color: #888888;
	font-size: 12px;
	line-height: 1.5;
}
.worldFooter .frist{
	border-left: 0 none;
}
.worldFooter a{
	float: left;
	white-space: nowrap;
	line-height: 11px;
	padding: 0 9px 1px;
	border-left: 1px solid #E5E5E5;
	color: #888888;
	font-size: 12px;
	line-height: 1.5;
}
.worldPartner{
	height: 50px;
	margin-left: 65px;
}
.footwrap4{
	width: 990px;
	padding-top: 18px;
	padding-bottom: 9px;
	margin: 0 auto;
}
.ali .first{
	border-left: 0 none;
	padding-left: 4px;
	
}
.ali a{
	padding: 0 7px;
	border-left:1px solid #E5E5E5 ;
	font-size: 12px;
	line-height: 12px;
	color: #6c6c6c !important;
}
.footwrap5{
	width: 990px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.footend a{
	font-size: 12px;
	line-height: 12px;
	color: #6c6c6c !important;
	padding: 0 2px;
}
.footend .first{
	padding-left: 4px;
}
.footend span{
	font-size: 12px;
	color: #9c9c9c;
	line-height: 12px;
}
.footend .cr{
	font-style: initial;
	margin-left: 30px;	
}
.kaikeiContainer{
	width: 100%;
}
.kaikeContent{
	width: 1190px;
	margin: 10px auto;
	background-color: #E5E5E5;
}
.kaikeLeft{
	height: 50px;
	line-height: 50px;
	float: left;
}

.kaikeLeft .allselect{
	margin-left: 20px;
}
.kaikeimoji{
	font-size: 12px;
	color: #333333;
	margin-right: 30px;
}
.kaikeiRight{
	height: 50p;
	line-height: 50px;
	float: right;
}
.kaikebtn{
	width: 120px;
	background: #B0B0B0;
	color: #FFFFFF;
	cursor: not-allowed;
	display: inline-block;
	text-align: center;

}
.allkaikei{
	font-size: 20px;
	line-height: 50px;
	color: #FFFFFF;
}
.kingaku_saikou{
	font-size: 22px;
	line-height: 48px;
	font-family: arial;
	font-weight: 700;
	vertical-align: middle;
	margin-right: 10px;
}
.selected{
	font-size: 18px;
	font-weight: 700;
	font-family: arial;
}
.kaikeiS{
	margin-right: 10px;
}
.yxsp{
	display: inline-block;
	margin-right: 20px;
}